{% extends "base.html" %}


{% block title %} {{ title }} :: {{ block.super }} {% endblock %}
{% block sidebar %}

{% include "inc/_sidebar.html" %}

{% endblock %}
{% block content %}

    <h1>Добавление новости</h1>
<form action ="{% url 'Add_news' %}" method = "post">
    {% csrf_token %}
    {{ form.as_p }}
    {{ form.none_field.errors }}
    <button type ="submit" class = "btn btn-primary btn-block">Добавить</button>
    </form>
  <!--  <form>
      <div class="form-group">
        <label for="{{form.title.id_for_label}}" class="form-label">Заголовок:</label>
          {{ form.title }}
        <div class ="invalid-feedback">
            {{ form.title.errors }}
        </div>
      </div>
       <div class="form-group">
        <label for="{{form.content.id_for_label}}" class="form-label">Текст:</label>
          {{ form.title }}
        <div class ="invalid-feedback">
            {{ form.content.errors }}
        </div>
      </div>
       <div class="form-group">
        <label for="{{form.title.id_for_label}}" class="form-label">Публикация:</label>
          {{ form.is_published }}
        <div class ="invalid-feedback">
            {{ form.is_published.errors }}
        </div>
      </div>
        <div class="form-group">
        <label for="{{form.title.id_for_label}}" class="form-label">Категория:</label>
          {{ form.category }}
        <div class ="invalid-feedback">
            {{ form.category.errors }}
        </div>
      </div>

        <button type ="submit" class = "btn btn-primary btn-block">Добавить</button>
    </form> -->

{% endblock %}